<div class="col-lg-12 col-sm-12 px-0">
    <div class="alert py-1 m-0" style="background-color: #0156ff;color: #ffffff;border-radius: 0;">
        <div class="row">
            <div class="col-md-6 mb-banner">
                <label>Actualizamos las tarjetas continuamente</label>
            </div>
            <div class="col-md-6 justify-content-end d-none d-sm-none d-md-block">
                <label class="nav justify-content-end">Comunicate con nosotros (998) 1234 5678 <i class="fab fa-facebook-square p-1"></i> <i class="fab fa-instagram-square p-1"></i></label>
            </div>
        </div>    
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-logo" style="z-index:1;background-image: linear-gradient(to right, #000 , transparent); background-color:rgba(192,192,192,0.3);">
        <a class="navbar-brand" [routerLink]="'.'">
            <img class="img-fluid img-logo" width="280" src="../../assets/img/logo.png" />
        </a>
        
            
        <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
        <button class="navbar-toggler d-none d-sm-none" (click)="open(mymodal)" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
        </button>
        
        <div [ngbCollapse]="isMenuCollapsed" class="nav justify-content-end collapse navbar-collapse d-none d-sm-none">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control badge-pill mr-sm-2" type="search" placeholder="Que tarjeta estas buscando?" aria-label="Search">
            </form>
            <button type="button" (click)="open(mymodal)" class="badge badge-pill ml-5" style="padding-top:12px; padding-bottom:12px;padding-left: 25px;padding-right: 25px;background-color: #0156ff; color: #ffffff;"><i class="far fa-user pr-2"></i> Iniciar sesión</button>
            <i class="fas fa-shopping-cart ml-4" style="color: #ffffff;"></i>
        </div>
        <div class="col-12 justify-content-middle d-block d-sm-block d-md-none d-lg-none">
            <form class="form-inline row mx-auto">
                <input class="form-control badge-pill mr-sm-2 p-4" style="width: 100%;" type="search" placeholder="Que tarjeta estas buscando?" aria-label="Search">
            </form>
        </div>
        <ng-template #mymodal let-modal>
            <div class="modal-body p-0" [ngSwitch]="usersession">
                <div *ngSwitchCase="'restoreSession'">
                    <button type="button" class="close d-none d-md-block" style="position: absolute; right: 1rem; top: 1rem;" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row" style="margin: 0px;">
                        <div class="col-md-6 col-sm-12 p-0">
                            <img class="img-fluid d-none d-sm-none d-md-block" src="../../assets/img/prismari_command_stx_1280x960_wallpaper.png" alt="">
                            <img class="img-fluid d-md-none" style="width: 100%;" src="../../assets/img/command_stx.png" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12 mt-5">
                            <h5> < Restablecer Contraseña</h5>
                            <p>Introduce la dirección de correo electrónico asociada a tu cuenta y te enviaremos un correo para restablecer tu contraseña.</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Correo electronico" aria-describedby="email">
                            </div><br>
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn-primary badge badge-pill p-3" type="submit">Restablecer Contraseña</button>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'loginSession'">
                    <button type="button" class="close d-none d-md-block" style="position: absolute; right: 1rem; top: 1rem;" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row" style="margin: 0px;">
                        <div class="col-md-6 col-sm-12 p-0">
                            <img class="img-fluid d-none d-sm-none d-md-block" src="../../assets/img/prismari_command_stx_1280x960_wallpaper.png" alt="">
                            <img class="img-fluid d-md-none" style="width: 100%;" src="../../assets/img/command_stx.png" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12 mt-5">
                            <img class="img-fluid mx-auto d-block" src="../../assets/img/logoblack.png" alt=""/>
                            <p style="text-align: center;">¡BIENVENIDO!, INICIA SESIÓN</p>
                            <div class="input-group mb-3">
                                <input type="text" style="background-color: #EFEFEF;" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Correo electronico" aria-describedby="email">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" style="background-color: #EFEFEF;" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Contraseña" aria-describedby="password">
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn-primary badge badge-pill p-3" type="submit"><i class="far fa-user fa-2x pr-3"></i> Iniciar Sesion</button>
                            </div><br>
                            <div class="col-12 text-right">
                                <a [routerLink]="['/#']" routerLinkActive="router-link-active">¿Olvidaste tu contraseña?</a><br>
                                <a (click)="userSession()" [routerLink]="['/#']" routerLinkActive="router-link-active">¿No tienes cuenta?, Regístrate!</a>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'createAcount'">
                    <div class="row" style="margin: 0px;">
                        <div class="col-md-12 p-0">
                            <img class="img-fluid" style="width: 100%;" src="../../assets/img/command_stx.png" alt="">
                        </div>
                        <div class="col-12">
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-12 mt-2">
                            <b>Creación de cuenta</b>
                            <p>¡Crea una cuenta para utilizar los servicios de My Transfer y gozar sus inumerables beneficios!</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <input type="text" style="background-color: #EFEFEF;" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Nombre(s)" aria-describedby="nombre">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" style="background-color: #EFEFEF;" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Correo electronico" aria-describedby="email">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" style="background-color: #EFEFEF;" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Telefono" aria-describedby="telelfono">
                            </div><br>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <input type="text" style="background-color: #EFEFEF;" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Correo electronico" aria-describedby="email">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" style="background-color: #EFEFEF;" class="form-control mr-sm-2 p-4 badge-pill" placeholder="Correo electronico" aria-describedby="email">
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn-primary badge badge-pill p-3 mr-3" type="submit">Cancelar</button>
                            <button class="btn-primary badge badge-pill p-3" type="submit">Crear cuenta</button>
                        </div>
                    </div><br><br>
                </div>
            </div>
        </ng-template>
    </nav>
</div>
