/* You can add global styles to this file, and also import other style files */
div.carousel-multi-item > ol.carousel-indicators {
    display: none;
}
.controls-top {
    position: absolute;
    display: flex;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
.controls-top > a.btn-floating {
    font-size: xxx-large;
    z-index: 1;
}
a:first.btn-floating {
    display: flex;
    vertical-align: middle;
}
a:nth-child(1).btn-floating {
    left: -20px;
    /* top: 50%; */
    position: absolute;
    /* vertical-align: middle; */
    height: 100%;
}
a:nth-child(2).btn-floating {
    right: 35px;
    /* top: 50%; */
    position: absolute;
    /* vertical-align: middle; */
    height: 100%;
}
a.btn-floating i.fa-chevron-left, a.btn-floating i.fa-chevron-right {
    top: 40%;    
    position: absolute;   
    background-color: #fff;
    padding: 24px 8px;
    border: 2px solid #000;
    border-radius: 8px;
}

.carousel-item .col-md-3{
    padding: 0px;
    margin: 0px;
}
img.img_rectangle{
    -moz-border-image:url("./assets/img/Rectangle_35.png") 30 30 repeat; /* Old firefox */
    -webkit-border-image:url("./assets/img/Rectangle_35.png") 30 30 repeat; /* Safari */
    -o-border-image:url("./assets/img/Rectangle_35.png") 30 30 repeat; /* Opera */
    border-image:url("./assets/img/Rectangle_35.png") 30 30 repeat;
}
mdb-card-img img.img-fluid {
    padding: 1rem;
}
.carousel-item {
    justify-content: center!important;
}
.carousel-item > div > mdb-card {
    background-color: transparent;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient( to top, #ffc107, rgba(0, 0, 0, 0) ) 1 20%;
}
